<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Seat Arrangement</title>
    <style type="text/css">
    	.header{
    		margin: 30px auto;
    	}
    </style>
  </head>
  <body>
  	<div class="header text-center">
	    <h1>Seat Arrangement</h1>
  	</div>
  	<br><br><br><br>
	<div class="seatStructure ">
  	<div class="container-fluid">
  		<div class="row">
  			<div class="col-lg-6 border">
  				<div class="row text-center">
  					<div class="col-lg-6">
						<input type="text" name="place1" placeholder="candidate 1" class="candidatePlace text-center" value="{{candidates.1}}">
					</div>
					<div class="col-lg-6">
						<input type="text" name="place1" placeholder="candidate 2" class="candidatePlace text-center" value="{{candidates.2}}">
					</div>
				</div>
				<br><br><br>
				<div class="row text-center">
					<div class="col-lg-4">
						<input type="text" name="place1" placeholder="candidate 3" class="candidatePlace text-center" value="{{candidates.3}}">
					</div>
					<div class="col-lg-4">
						<input type="text" name="place1" placeholder="candidate 4" class="candidatePlace text-center" value="{{candidates.4}}">
					</div>
					<div class="col-lg-4">
						<input type="text" name="place1" placeholder="candidate 5" class="candidatePlace text-center" value="{{candidates.5}}">
					</div>
				</div>
  			</div>
  			<div class="col-lg-6 border">
  				<div class="row text-center">
  					<div class="col-lg-6">
						<input type="text" name="place1" placeholder="candidate 6" class="candidatePlace text-center" value="{{candidates.6}}">
					</div>
					<div class="col-lg-6">
						<input type="text" name="place1" placeholder="candidate 7" class="candidatePlace text-center" value="{{candidates.7}}">
					</div>
				</div>
				<br><br><br>
				<div class="row text-center">
					<div class="col-lg-4">
						<input type="text" name="place1" placeholder="candidate 8" class="candidatePlace text-center" value="{{candidates.8}}">
					</div>
					<div class="col-lg-4">
						<input type="text" name="place1" placeholder="candidate 9" class="candidatePlace text-center" value="{{candidates.9}}">
					</div>
					<div class="col-lg-4">
						<input type="text" name="place1" placeholder="candidate 10" class="candidatePlace text-center" value="{{candidates.10}}">
					</div>
  				</div>
  			</div>
  		</div>
  		<br><br>
  		<div class="row">
  			<div class="col-lg-6 "></div>
  			<div class="col-lg-6 text-right border">
  				<div class="row text-center">
  					<div class="col-lg-6">
						<input type="text" name="place1" placeholder="candidate 11" class="candidatePlace text-center" value="{{candidates.11}}">
					</div>
					<div class="col-lg-6">
						<input type="text" name="place1" placeholder="candidate 12" class="candidatePlace text-center" value="{{candidates.12}}">
					</div>
				</div>
  			</div>
  		</div>
  		<br><br>
  		<div class="row">
  			<div class="col-lg-12 text-center">
  				<a href="{% url "home" %}"><button class="btn btn-info">Generate Seat</button></a>
  			</div>
  		</div>
  	</div>
  	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <script>
  </script>
</html>